/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html, body
{
    margin: 0;
    padding: 0;
    background: #FFFFFF url(images/bg01.jpg) repeat-x top left;
    font-size: 13px;
    height: 100%;
}

body, th, td, input, textarea, select, option, legend
{
    font-weight: normal;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #7F7F7F;
}

h1, h2, h3
{
    font-weight: normal;
    color: #C5002B;
}

h1
{
    letter-spacing: -1px;
    font-size: 24px;
}

h2
{
    letter-spacing: -1px;
    font-size: 24px;
}

h3
{
    font-size: 1em;
}

p, ul, ol
{
    line-height: 200%;
}

blockquote
{
    padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol
{
    line-height: normal;
    font-style: italic;
}

a
{
    color: #C5002B;
}

a:hover
{
    text-decoration: none;
    color: #C5002B;
}

table
{
    border-collapse: collapse;
}

table td
{
    vertical-align: top;
}

/* Header */

#header
{
    width: 890px;
    height: 190px;
    margin: 0px auto;
    position: relative;
}

/* Logo */

#logo
{
    padding: 30px 0 0 0;
}

#logo h1
{
    margin: 0;
    letter-spacing: -2px;
    font-size: 3.6em;
    font-weight: normal;
    color: #FFFFFF;
}

#logo h1 a
{
    padding-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

#logo a
{
    text-decoration: none;
    color: #FFFFFF;
}

#logo img
{
    border: 0;
    width: 200px;
}

/* Login */
#logindisplay
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.1em;
    text-align: right;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Menu */

#menu
{
    position: absolute;
    top: 90px;
    right: 10px;
}

#menu ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li
{
    display: inline;
}

#menu a
{
    display: block;
    float: left;
    margin-left: 20px;
    text-decoration: none; /*text-transform: lowercase;*/
    font-size: 1.36em;
    color: #C5002B;
}

#menu a:hover, .active a
{
    border-bottom: 3px solid #C5002B;
}

/* Page */

#page
{
    position: relative;
    width: 890px;
    margin: 0 auto;
    padding-bottom: 60px; /* Height of the footer */
    overflow: hidden;
}

/* Content */

#content
{
}

/* Homepage (Home.Index) */

#homepageContent
{
    float: left;
    width: 610px;
}

#homepageSidebar
{
    float: right;
    width: 240px;
}

#homepageSidebar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#homepageSidebar li
{
    color: #000000;
}

#homepageSidebar li ul
{
    padding: 15px 0;
}

#homepageSidebar li li
{
    padding-left: 20px;
    border-bottom: 1px dotted #7B9418;
    color: #000000;
}

#homepageSidebar h2
{
    margin: 0;
    padding: 5px 0 0 20px;
    background: url(images/img06.jpg) no-repeat left 80%;
}

#homepageSidebar a
{
    text-decoration: none;
    color: #C5002B;
}

#homepageSidebar a:hover
{
}

/* Footer */

#footer
{
    top: -20px;
    position: relative;
    width: 100%;
    text-align: center;
    float: left;
    margin: 0;
    border: 0;
    padding: 0;
    background: #F2F2F2 url(images/bg02.jpg) repeat-x left top;
}

#footer p
{
    text-align: center;
    font-size: smaller;
    color: #717171;
}

/* Posts */

.post
{
    /* padding: 20px 20px; */
}

.title
{
    margin: 0;
    border-bottom: 2px solid #484848;
    color: #484848;
}

.title a
{
    color: inherit;
    text-decoration: none;
}

.byline
{
    margin: 0;
    color: #C5002B;
}

/* FORM LAYOUT ELEMENTS */

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
}

fieldset legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

fieldset input[type="text"]
{
    width: 20em;
    border: 1px solid #ccc;
}

fieldset input[type="password"]
{
    width: 20em;
    border: 1px solid #ccc;
}

fieldset textarea, fieldset textarea.input-validation-error
{
    width: 40em;
    height: 20em;
    border: 1px solid #ccc;
}

fieldset hr
{
    margin: 1em 0;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
}

/* Misc */

.clear
{
    clear: both;
}

.noborder
{
    border: 0;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.editor-field.wide input
{
    width: 40em;
}

fieldset.grid .display-label, fieldset.grid .editor-label
{
    clear: both;
    float: left;
    width: 10em;
}

fieldset.grid .display-field, fieldset.grid .editor-field
{
    float: left;
}

fieldset.grid p
{
    clear: both;
}

.session-status-Accepted
{
}

.session-status-Pending
{
    font-weight: bold;
}

.session-status-Rejected
{
    font-weight: bold;
    color: #f00;
}

/***********************************************************/
/***********************************************************/

div.growlNotice
{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #000;
}

div.growlNotice h3
{
    margin: 0;
    cursor: pointer;
    border-bottom: solid 1px #000;
}

div.growlNotice h3 img
{
    border: 0;
    margin-right: 3px;
}

div.growlNotice h3 a
{
    display: block;
    padding: 5px;
}

div.growlNotice p
{
    margin: 0;
    padding: 5px;
}

/***********************************************************/
/***********************************************************/